In [1]:
# Dependencies
import numpy as np
import pandas as pd

In [2]:
unfilteredData = pd.read_csv('Resources/WMT.csv')
unfilteredData.head()

,date,open,high,low,close,volume,unadjustedVolume,change,changePercent,vwap,label,changeOverTime
0,2014-01-27,64.7650,64.9747,64.5029,64.7825,9105139,9105139,-0.235889,-0.363,64.7739,"Jan 27, 14",0.000000
1,2014-01-28,64.8786,65.8746,64.7388,65.2368,6035231,6035231,0.454305,0.701,65.3045,"Jan 28, 14",0.007013
2,2014-01-29,65.7785,65.8484,64.7126,64.7388,8440854,8440854,-0.497990,-0.763,61.0517,"Jan 29, 14",-0.000675
3,2014-01-30,65.1232,65.6037,64.9660,65.3067,6742046,6742046,0.567883,0.877,65.2975,"Jan 30, 14",0.008092
4,2014-01-31,64.5816,65.6911,64.3369,65.2455,10665285,10665285,-0.061155,-0.094,65.3223,"Jan 31, 14",0.007147

In [3]:
unfilteredData = unfilteredData.drop(columns=["volume", "unadjustedVolume", "change", "changePercent", "vwap", "label", "changeOverTime"])
unfilteredData.head()

         date     open     high      low    close
0  2014-01-27  64.7650  64.9747  64.5029  64.7825
1  2014-01-28  64.8786  65.8746  64.7388  65.2368
2  2014-01-29  65.7785  65.8484  64.7126  64.7388
3  2014-01-30  65.1232  65.6037  64.9660  65.3067
4  2014-01-31  64.5816  65.6911  64.3369  65.2455

In [4]:
lastIndex = len(unfilteredData)
print(lastIndex)

1259

In [5]:
startDate = unfilteredData.loc[unfilteredData["date"] == "2016-06-01"]
startDateIndex = startDate.index.tolist()
print(startDateIndex[0])

591

In [6]:
filteredData = unfilteredData.loc[startDateIndex[0]:lastIndex]

In [7]:
filteredData.head()

           date     open     high      low    close
591  2016-06-01  65.8547  66.2330  65.7706  65.8547
592  2016-06-02  65.8547  66.3217  65.5231  66.2750
593  2016-06-03  65.9201  66.3684  65.8733  66.2003
594  2016-06-06  66.8075  66.8355  66.3217  66.3684
595  2016-06-07  66.4151  66.6113  66.1816  66.3497

In [8]:
filteredData.reset_index(inplace=True, drop=True)
filteredData.head()

         date     open     high      low    close
0  2016-06-01  65.8547  66.2330  65.7706  65.8547
1  2016-06-02  65.8547  66.3217  65.5231  66.2750
2  2016-06-03  65.9201  66.3684  65.8733  66.2003
3  2016-06-06  66.8075  66.8355  66.3217  66.3684
4  2016-06-07  66.4151  66.6113  66.1816  66.3497

In [9]:

import matplotlib.pyplot as plt
import seaborn as sns
from pandas.plotting import autocorrelation_plot
color = sns.color_palette()
from statsmodels.tsa.arima_model import ARIMA
from pandas import datetime
from sklearn.metrics import mean_squared_error
from sklearn.metrics import accuracy_score

In [10]:
def parser(x):
    return datetime.strptime(x, '%Y-%m')

In [12]:
print("please wait. importing...")
data = pd.read_csv("Resources/WMT.csv")

print("importing finished.")
data

# data['Total_Price'] = data['Quantity']*data['UnitPrice']

# data = data[data.Quantity > 0]
# data = data[data.UnitPrice > 0]
# data = data[data.iloc[:, :] != '']

please wait. importing...
importing finished.

,date,open,high,low,close,volume,unadjustedVolume,change,changePercent,vwap,label,changeOverTime
0,2014-01-27,64.7650,64.9747,64.5029,64.7825,9105139,9105139,-0.235889,-0.363,64.7739,"Jan 27, 14",0.000000
1,2014-01-28,64.8786,65.8746,64.7388,65.2368,6035231,6035231,0.454305,0.701,65.3045,"Jan 28, 14",0.007013
2,2014-01-29,65.7785,65.8484,64.7126,64.7388,8440854,8440854,-0.497990,-0.763,61.0517,"Jan 29, 14",-0.000675
3,2014-01-30,65.1232,65.6037,64.9660,65.3067,6742046,6742046,0.567883,0.877,65.2975,"Jan 30, 14",0.008092
4,2014-01-31,64.5816,65.6911,64.3369,65.2455,10665285,10665285,-0.061155,-0.094,65.3223,"Jan 31, 14",0.007147
5,2014-02-03,64.8174,65.0883,63.3759,63.4807,10435809,10435809,-1.764800,-2.705,63.7034,"Feb 3, 14",-0.020095
6,2014-02-04,63.4895,63.8651,63.1662,63.5419,7765562,7765562,0.061156,0.096,63.1391,"Feb 4, 14",-0.019150
7,2014-02-05,63.1400,63.9176,63.1400,63.6642,4778044,4778044,0.122314,0.192,63.3113,"Feb 5, 14",-0.017262
8,2014-02-06,63.7516,63.9612,63.3409,63.6205,7353131,7353131,-0.043683,-0.069,63.6302,"Feb 6, 14",-0.017937
9,2014-02-07,63.8215,64.4767,63.3409,64.4330,7320252,7320252,0.812510,1.277,63.7059,"Feb 7, 14",-0.005395
10,2014-02-10,64.2932,64.4418,63.7428,64.4418,6236787,6236787,0.008738,0.014,64.1827,"Feb 10, 14",-0.005259
11,2014-02-11,64.5641,65.3941,64.3631,65.3504,6712699,6712699,0.908615,1.410,65.1167,"Feb 11, 14",0.008766
12,2014-02-12,64.8437,65.6824,64.8437,65.4902,5372947,5372947,0.139787,0.214,65.4131,"Feb 12, 14",0.010924
13,2014-02-13,65.2455,65.9532,65.1407,65.8396,5275177,5275177,0.349470,0.534,65.7523,"Feb 13, 14",0.016318
14,2014-02-14,65.8746,66.3857,65.6125,66.2153,4920591,4920591,0.375673,0.571,66.1983,"Feb 14, 14",0.022117
15,2014-02-18,65.9532,66.0930,65.4069,65.8134,5994299,5994299,-0.401883,-0.607,65.7473,"Feb 18, 14",0.015913
16,2014-02-19,65.5339,65.8047,65.0097,65.3941,8145148,8145148,-0.419363,-0.637,65.3819,"Feb 19, 14",0.009441
17,2014-02-20,63.8215,64.6514,63.6118,64.2321,13103284,13103284,-1.162000,-1.777,64.1623,"Feb 20, 14",-0.008496
18,2014-02-21,63.9438,64.1272,63.6205,63.8826,8971032,8971032,-0.349469,-0.544,63.8824,"Feb 21, 14",-0.013891
19,2014-02-24,63.9875,64.4898,63.9001,64.0836,7326672,7326672,0.200947,0.315,64.1811,"Feb 24, 14",-0.010788
20,2014-02-25,63.9350,64.4243,63.8564,64.0836,9500619,9500619,0.000000,0.000,64.2671,"Feb 25, 14",-0.010788
21,2014-02-26,64.5990,65.6125,64.4680,65.3329,9027834,9027834,1.249300,1.950,65.1777,"Feb 26, 14",0.008496
22,2014-02-27,65.3329,65.3329,64.7302,65.1407,5456591,5456591,-0.192207,-0.294,65.0287,"Feb 27, 14",0.005529
23,2014-02-28,65.0708,65.6911,64.8262,65.2630,7445309,7445309,0.122314,0.188,65.3379,"Feb 28, 14",0.007417
24,2014-03-03,65.0795,65.2368,64.4986,64.7563,5347575,5347575,-0.506726,-0.776,64.2418,"Mar 3, 14",-0.000404
25,2014-03-04,65.3242,65.9532,65.2281,65.6387,7549037,7549037,0.882404,1.363,65.6341,"Mar 4, 14",0.013217
26,2014-03-05,65.8047,65.8134,65.1582,65.3504,5526031,5526031,-0.288310,-0.439,65.3954,"Mar 5, 14",0.008766
27,2014-03-06,65.4028,65.6212,65.0970,65.4203,5107196,5107196,0.069893,0.107,65.3939,"Mar 6, 14",0.009845
28,2014-03-07,65.9127,65.9127,65.3895,65.5785,5054617,5054617,0.158255,0.242,65.5837,"Mar 7, 14",0.012287
29,2014-03-10,65.5258,65.5961,65.1125,65.4466,4844541,4844541,-0.131893,-0.201,65.2911,"Mar 10, 14",0.010251
...,...,...,...,...,...,...,...,...,...,...,...,...
1229,2018-12-12,94.3000,94.3000,93.0600,93.1100,9639226,9639226,-0.740000,-0.788,93.5170,"Dec 12, 18",0.437271
1230,2018-12-13,93.2500,93.6765,92.4300,92.9600,8042272,8042272,-0.150000,-0.161,92.9905,"Dec 13, 18",0.434955
1231,2018-12-14,92.0500,92.5600,91.5700,91.8500,11493836,11493836,-1.110000,-1.194,91.9642,"Dec 14, 18",0.417821
1232,2018-12-17,91.2200,92.0100,90.1600,90.7700,9001756,9001756,-1.080000,-1.176,90.9113,"Dec 17, 18",0.401150
1233,2018-12-18,90.8000,91.2600,90.2800,91.0800,9606749,9606749,0.310000,0.342,90.8510,"Dec 18, 18",0.405935
1234,2018-12-19,91.2900,93.0000,90.2500,90.5500,12231728,12231728,-0.530000,-0.582,91.5599,"Dec 19, 18",0.397754
1235,2018-12-20,90.1100,90.1100,86.1400,87.2800,16373834,16373834,-3.270000,-3.611,87.5276,"Dec 20, 18",0.347277
1236,2018-12-21,86.8700,89.4700,86.8000,87.1300,14921547,14921547,-0.150000,-0.172,87.7951,"Dec 21, 18",0.344962
1237,2018-12-24,86.5400,87.5650,85.7800,85.8200,6110310,6110310,-1.310000,-1.504,86.6191,"Dec 24, 18",0.324740
1238,2018-12-26,86.4200,90.4200,86.3000,90.4100,10028292,10028292,4.590000,5.348,88.6481,Dec 26,0.395593
1239,2018-12-27,89.7500,91.6100,88.4400,91.5900,9881506,9881506,1.180000,1.305,89.7730,Dec 27,0.413808
1240,2018-12-28,92.0700,93.4700,91.6450,92.1300,9873973,9873973,0.540000,0.590,92.4453,Dec 28,0.422143
1241,2018-12-31,92.6700,93.3900,92.2500,93.1500,7006026,7006026,1.020000,1.107,92.9097,Dec 31,0.437888
1242,2019-01-02,91.6400,93.6500,91.6400,93.3400,8152733,8152733,0.190000,0.204,93.0693,Jan 2,0.440821
1243,2019-01-03,93.2100,94.7100,92.7000,92.8600,8277289,8277289,-0.480000,-0.514,93.6598,Jan 3,0.433412
1244,2019-01-04,93.2100,93.6600,92.6900,93.4400,8029144,8029144,0.580000,0.625,93.2346,Jan 4,0.442365
1245,2019-01-07,93.6200,95.1700,93.1800,94.5400,7789701,7789701,1.100000,1.177,94.5647,Jan 7,0.459345
1246,2019-01-08,95.0600,95.7550,93.9100,95.2000,7200912,7200912,0.660000,0.698,95.0263,Jan 8,0.469533
1247,2019-01-09,95.7100,96.1400,94.7700,94.8900,6272293,6272293,-0.310000,-0.326,95.3602,Jan 9,0.464747
1248,2019-01-10,93.8800,94.9800,93.1201,94.9600,9396271,9396271,0.070000,0.074,94.4584,Jan 10,0.465828
1249,2019-01-11,94.9900,95.2900,94.5500,94.8400,5394592,5394592,-0.120000,-0.126,94.8912,Jan 11,0.463976
1250,2019-01-14,94.4800,95.4500,94.2800,94.9500,7085094,7085094,0.110000,0.116,95.0168,Jan 14,0.465674
1251,2019-01-15,95.4700,96.6000,95.3800,96.2500,7058230,7058230,1.300000,1.369,96.0915,Jan 15,0.485741
1252,2019-01-16,95.9300,96.8600,95.8250,96.3500,5409950,5409950,0.100000,0.104,96.3172,Jan 16,0.487284
1253,2019-01-17,96.3200,97.2100,96.1600,96.7400,5614489,5614489,0.390000,0.405,96.6549,Jan 17,0.493305
1254,2019-01-18,96.9500,98.1990,96.8500,97.7300,6120643,6120643,0.990000,1.023,97.5274,Jan 18,0.508586
1255,2019-01-22,97.1500,98.4300,96.7800,97.4900,8063202,8063202,-0.240000,-0.246,97.6006,Jan 22,0.504882
1256,2019-01-23,98.8700,99.3500,97.5300,98.7100,8345750,8345750,1.220000,1.251,98.5121,Jan 23,0.523714
1257,2019-01-24,98.2000,98.4600,96.4300,98.3600,7609746,7609746,-0.350000,-0.355,97.8649,Jan 24,0.518311
1258,2019-01-25,98.7500,98.9100,96.7500,96.9400,7222089,7222089,-1.420000,-1.444,97.2279,Jan 25,0.496392

In [ ]:
#data['date'] = data['InvoiceDate'].map(lambda x: str(x)[:7])

In [ ]:
#print(data)
Quantity_date=data[['date', 'Quantity']].drop_duplicates()
Quantity_date_count=Quantity_date.groupby(['date'])['Quantity'].aggregate('sum').reset_index().sort_values(by='date', ascending=0)

In [ ]:
date=list(Quantity_date_count['date'])
quantity=list(Quantity_date_count['Quantity'])
date_quantity = pd.DataFrame({'dates': date, 'quantity':quantity})
#date_quantity['quantity'] = date_quantity['quantity'].map(lambda x: str(x))

In [ ]:
date_quantity.index = date_quantity['dates'].map(lambda x: parser(x))
date_quantity['quantity'] = date_quantity['quantity'].map(lambda x: float(x))

In [ ]:
date_quantity = date_quantity.fillna(date_quantity.bfill())
date_quantity = date_quantity['quantity'].resample('MS').mean()
print(date_quantity)
date_quantity.plot()
plt.show()

In [ ]:
autocorrelation_plot(date_quantity)
plt.show()

In [ ]:
quantity = date_quantity.values

In [ ]:
size = int(len(quantity) * 0.66)
train, test = quantity[0:size], quantity[size:len(quantity)]
history = [x for x in train]
predictions = list()
for t in range(len(test)):
    model = ARIMA(history, order=(2 ,2 ,0))
    model_fit = model.fit(disp=0)
    output = model_fit.forecast()
    yhat = output[0]
    predictions.append(yhat[0])
    obs = test[t]
    history.append(obs)
    print('predicted=%f, expected=%f' % (yhat, obs))

In [ ]:
pred = np.array(predictions)

In [ ]:
error = mean_squared_error(test, predictions)
print('Test MSE: %.3f' % error)

In [ ]:
# plot
plt.plot(test)
plt.plot(predictions, color='red')
plt.show()